.icono2{
    position: relative; left: 45%;
    width: 110px;
    padding: 1rem;
    

}


ul{
    list-style: none;
    justify-content: center;
    li{

        display: inline-block;
        font-size: 30px;
        padding: 20px;
        &:hover ul{
            position: absolute;
            display: block;
            background-color: rgb(0, 0, 0);
            width: 11%;
        }
    }
    ul{
        position: relative;
        display: none;
        li{
            display: block;
            width: 10rem;
        }
    }
    
    
    
}